<!-- detalle_producto.html -->

{% extends 'miapp/base.html' %}

{% block contenido %}
<div class="container">
    <h2>Detalles del Producto</h2>
    <div class="row">
        <div class="col-md-6">
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-fluid">
            {% endif %}
        </div>
        <div class="col-md-6">
            {% include 'productos/components/card_detalles_producto.html' %}
            <form action="{% url 'producto:agregar_al_carrito' producto.pk %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" value="1" min="1">
                </div>
                <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
            </form>
        </div>
    </div>
</div>
{% endblock contenido %}
