{% extends 'miapp/base.html' %}

{% block contenido %}
<div class="container">
    {% if categoria %}
        {% include 'productos/components/card_titulo.html' with titulo="Productos en la categoría: " categoria_nombre=categoria.nombre %}
    {% else %}
        {% include 'productos/components/card_titulo.html' with titulo="Lista de Productos" %}
    {% endif %}
    
    <div class="row ">
        {% if productos|length == 0 %}
            <div class="col-12 text-center fs-3">
                <p>No hay productos en esta categoría.</p>
            </div>
        {% else %}
            {% for producto in productos %}
                <div class="col-md-4">
                    <div class="card producto-card mb-4"> <!-- Usamos la clase personalizada para las cards -->
                        {% if producto.imagen %}
                            <img src="{{ producto.imagen.url }}" class="card-img-top producto-imagen" alt="{{ producto.nombre }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text"><strong>Precio:</strong> {{ producto.precio }}</p>
                            <a href="{% url 'producto:detalle_producto' pk=producto.pk %}" class="btn btn-primary bg-dark">Ver Producto</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock contenido %}
