/* styles.css */

/* General styles for product images */
.img-fluid {
    width: 100%;
    height: 500px;
    object-fit: contain; /* Ensure the entire image is visible without being cropped */
}

/* Styles for screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 767px) {
    .img-fluid {
        height: auto; /* Adjust height automatically */
        max-width: 100%; /* Ensure image does not exceed container's width */
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* Additional styles for the description card */
.description-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 0; /* Align to the top */
    margin-left: -10px; /* Extend a bit to the left */
}

/* styles.css */

/* Ensure all product cards are the same size */
.producto-card {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Ensure the images fit within the card */
.producto-imagen {
    width: 100%;
    height: 180px; /* Adjust height as needed */
    object-fit: contain; /* Ensures the image covers the entire area without distortion */
}

/* Ensure the product card body fits within the card */
.producto-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.card-category {
    background-color: var(--color, #322d2d); /* Color de fondo, default blanco */
    opacity: var(--opacity, 1); /* Opacidad, default 1 (100%) */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, opacity 0.3s ease;
    text-align: center; /* Centra el texto */
}

.card-category:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos de texto */
.card-category a {
    background-color: var(--color, #231f1f); /* Color de fondo, default blanco */
    text-decoration: none; /* Sin subrayado en los enlaces */
    color: #f4f1f1; /* Color de texto */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    font-family: Arial, sans-serif; /* Familia de fuentes */
}


