{% extends 'miapp/base.html' %}
{% load static %}
{% block titulo %}
    {% include 'miapp/components/titulo_1.html' with titulo="MR" %}
{% endblock titulo %}
{% block contenido %}


<header class="header-custom">
    <div class="container px-5 ">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="text-center">
                    <h1 class="display-2 fw-bolder mb-2 mt-3">Tu esencia en cada prenda, sin concesiones.</h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</header>

<div class="container">  
    <h4 class="text-center" style="background-color: rgba(0, 0, 0, 0.703); border: none;">PRODUCTOS DESTACADOS</h4>

    {% include 'productos/components/productos_destacados.html' with productos=productos_destacados %}
</div>
<div class="py-5 bg-dark">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="fs-4 mb-4 fst-italic">"Completa tu look con accesorios exclusivos que complementan tu pasión por el rock, llevando siempre contigo esa vibra inconfundible que solo el verdadero fan entiende."</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}
