{% extends 'miapp/base.html' %}

{% block titulo %}
    Posts
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <h1>Lista de Posts</h1>
        <div class="row">
            {% for post in posts %}
            <div class="col-md-6">
                {% with post_detail_url='miapp:post_detail' post_id=post.pk %}
                    {% url post_detail_url post_id as url %}
                    {% include 'miapp/components/post_card.html' with title=post.title url=url author=post.author.username content=post.content %}
                {% endwith %}
            </div>
            {% endfor %}
        </div>
    </div>
    <a class="btn btn-primary" href="{% url 'miapp:post_create' %}">Crear nuevo post</a>
{% endblock contenido %}
