{% extends 'miapp/base.html' %}

{% block titulo %}
    Crear nuevo post
{% endblock titulo %}

{% block contenido %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center" style="background-color: rgba(0, 0, 0, 0.703); border: none;">Crear nuevo post</h1>
                <div class="card" style="background-color: rgba(0, 0, 0, 0.812); border: none;">
                    <div class="card-body text-light">
                        <form method="post" enctype="multipart/form-data" class="text-center">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <h4 class="text-center" style="background-color: rgba(0, 0, 0, 0.703); border: none;">Solo se permiten: JPG, JPEG, PNG,WEBP, GIF</h4>
                            <button type="submit" class="btn btn-primary container">Guardar</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
